*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url("../img/pexels-karolina-grabowska-5477774.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    overflow-y: scroll;
}
.logo{
    display: block;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    overflow: hidden;
    top: 0;
    font-family: "Georgia", monospace;
    font-size: 20px;
    width: 100%;
    margin: auto;
    align-items: center;
    background: #000000;
    text-align: center;
    flex: 1;
    list-style: none;
}