html{
    min-width: 700px;
}
.container{
    padding-bottom: 25px;
}
.locations_body, .sites_body{
    display: block;
    width: 45%;
    text-align: center;
    background-color: black;
    color: #f5ac4c;
    padding: 15px;
    border-radius: 10px;
}
.locations_body{
    float: left;
}
.sites_body{
    float: right;
}
.add_block, .locations_list, .sites_list{
    text-align: left;
    border-style: groove;
    border-color: rgba(255, 255, 255, 0.211);
    border-radius: 5px;
    border-width: 1px;
    overflow: hidden;
}
.add_block > form > input[type=text]{
    width: calc(100% - 40px);
    height: 5px;
    padding: 15px;
    margin: 5px 0 5px 5px;
    border: none;
    border-radius: 10px;
    background: #f1f1f1;
}
.add_block > form > label{
    margin-left: 10px;
}
.locations_list, .sites_list{
    overflow: scroll;
    height: 300px;
}
.add_btn{
    --btn_width: 50px;
    width: var(--btn_width);
    border: none;
    padding: 5px;
    margin: 5px;
    background-color: #f5ac4c;
    border-radius: 5px;
    margin-left: calc(50% - 0.5 * var(--btn_width));
}
.heading{
    margin-left: 5px;
}